*{
    margin : 0;
    padding : 0;
  }

.navbar {
    background-color:rgb(248, 248, 248);
  }

.nav-item{
      padding-right: auto;
      padding-left: 160px;
      justify-content: space-around;
  }

/* end of nav bar */

/* sec1 aout us  */

.sec1{
    background-image:url("https://scontent.ftun3-1.fna.fbcdn.net/v/t1.0-0/p370x247/52293410_809501292735236_8907292173632798720_n.jpg?_nc_cat=101&_nc_oc=AQleOyvGnXncOPJrKXaSf8KtoSUA_K_T0yyvygOkDuB5qjoxYs-WjTFMY7Yx_rMbBMk&_nc_ht=scontent.ftun3-1.fna&oh=f36be19093fa8e3bf0e61f671807db96&oe=5DAC9E6D");
    margin: 0px;
    width: 99vw;
    height: 100vh;
}

.left{
    /* align-content: center; */
    margin-left: 30vw;
    margin-top: 0vw;  
    padding-top: 5vw;
    margin-right: 40vw; 
    font-size: 2em;
}

h2{
    text-decoration: underline cornflowerblue;
    text-decoration-style: wavy;
    padding-left: 30vh;
    font-size: 3vh;
}

.ab{
    background-color: rgba(245, 245, 220, 0.808);
    border: solid rgba(248, 154, 120, 0.774);
    border-radius: 10%;
    padding-left: 5vh;
    padding-right: auto;
    width: max-content;
}
 
/* @media only screen and (max-width: 700px){
    .sec1{ 
    font-size: 1em;
    margin-left: 25vw;
    margin-top: 5vw;  
    margin-right:20vw;
    }
} */

/* rajouter image background plage ecriture en blanc changer la police */

/* sec 2 gallery photo */

.sec2{
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.sec2 .carousel-inner{
    margin: 0px;
    width: 100%;
    height: 100vh;
}

/* sec3 shops */

.sec3{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXHy5cpngAZ4JrthQ0-USJ7i7VGi1ABN87pO87m-LZZhVxlkVPww");
    /* background: radial-gradient(ellipse at top, rgb(109, 226, 255), transparent),
    radial-gradient(ellipse at bottom, white, transparent); */
    margin-top: 0px;
    width: 100%;
    height: 100vh;
}

.sec3 h2{
    align-content: center;
    color:black;
    text-decoration: underline rgb(4, 0, 255);
    text-decoration-style: wavy;
    padding-left: 40vh;
    font-size: 2em;
    font-style: oblique;
}

.box h1{
    margin: 5%;
    color: black;
    font-style: italic;
    padding-left: 2vh;
}

.box{
    background-color: rgba(245, 245, 220, 0.541);
    border: solid burlywood;
    border-radius: 10%;
    width: 10%;
    margin:5%;  
}

.box:hover{
    cursor: pointer;
    background-color: rgb(235, 200, 6);
}

.boxs{ 
    display:flex;
    align-content: space-around;
    padding-top: 15%;
    flex-wrap: wrap;
    justify-content: center;    
}

.box img{
    padding-left: 30%;
    padding-top: 5%;
    transition: 1s;
}

.box img:hover{
    cursor: pointer;
    transition: 1s;
    transform: scale(2)  
}

/* nwesletter */

.sec4{
    background-image:url("https://scontent.ftun3-1.fna.fbcdn.net/v/t1.0-0/p370x247/52293410_809501292735236_8907292173632798720_n.jpg?_nc_cat=101&_nc_oc=AQleOyvGnXncOPJrKXaSf8KtoSUA_K_T0yyvygOkDuB5qjoxYs-WjTFMY7Yx_rMbBMk&_nc_ht=scontent.ftun3-1.fna&oh=f36be19093fa8e3bf0e61f671807db96&oe=5DAC9E6D");
    width: 100%;
    height: 100vh;
    align-content: center;
    padding-left: 75vh;
    padding-top: 35vh; 
}

input {
    display: block;
    background-color: burlywood;
    color: black;
    text-decoration: none;
    font-size: 2vh;
    margin-left: 10vh;
}

label{
    padding-top: 3vh;
    color: black;
    text-decoration: none;
    font-size: 3vh;
    margin-left: 8vh;
}


.title h3{
    padding-left: 15vh;
    align-items: center;
    text-decoration: underline rgb(239, 243, 20);
    text-decoration-style: wavy;
}

.button {
    padding-top: 3vh;
    align-items:center;
    padding-left: 10vh;
    cursor: pointer;
    width: 20vh;
}

.sec-box{
    background-color: rgba(165, 165, 235, 0.747);
    width: 40%;
    height: 80%;
    border:solid #deb887 ;
    border-radius: 30%;
}

 /* background picture paté de sable + firebase link */
 
 
 .separator{
     width: 2px;
     background-color: black;
     height: 90%;
     margin-left: 2%;
     margin-right: 0%;
 }

.footer{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGfDqSl1jbsnPxGzho1uZ5SsNJ3-ySVhyWnnA-5_mApodXE1Oh");  
    display:flex;
    padding-top:20px;
    padding-left: 20px;
    justify-content: space-around;
    height: 17vh;
    width: 100%;
}

.footer p {
    font-size: 3vh;
    color: rgb(117, 117, 245);
}

/* separator  */
